/* CSS reset */
*{
    margin: 0;
    padding: 0;
}
html{
   scroll-behavior: smooth; 
}
/* css variables */
/* :root{
    --navbar-height:100px;

} */
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position:relative;
    top: 0px;
    height: 100px;
    
}
/* navigation bar:logo and image */
#logo{
margin: 20px 44px;

}
#logo img{
margin:4px 5px ;
height: 150px;


}
#logo img:hover{
    transform: scale(2);
}
/* navigation bar:list styling */

#navbar ul{
    display: flex;
    font-weight:bold ;
}
#navbar::before{
    content: "";
    background-color: rgb(82, 60, 60);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#navbar ul li{
  color: rgb(57, 131, 131);  
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 100px;
    text-decoration:none ;
}
#navbar ul li a:hover{
    color:black ;
    background-color: rgb(179, 164, 164);
}
/* home section */
#home{
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 3px 50px;
    justify-content:center ;
    align-items: center;
}
#home::before{
    content: "";
    background: url('./images for website/background for toy store.png')no-repeat center center/cover  ;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 72%;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
}
#home h1{
    margin-top: 150px;
  color: rgb(54, 54, 2);  
  text-align: center;
  font-size: 2.5rem;
}
span{
    color: rgb(175, 11, 11);
}
#home p{
    margin-top: 35px;
  color: rgb(247, 247, 247);  
  text-align: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size:1.3rem  ;
  font-weight: bold;
}
/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2rem;
    padding: 12px;
}
.btn{
    padding: 10px 15px;
    border: 2px solid rgb(8, 8, 8);
    
    background-color: brown;
    color: azure;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 20px ;
    cursor: pointer;
}
.btn:hover{
    transform:scale(1.5) ;
    background-color: olivedrab;
}
.center{text-align: center;}
/* section services */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 14px 20px;
    margin: 3px 16px;
    border-radius: 38px;
    background-color: rgb(216, 238, 238);
}

#services .box img{
   height: 160px;
   display: block;
   margin: auto;
}

   



/* client section */
#client-section{
    height: 344px;
}
#client-section::before {
    content: "";
    position: absolute;
    background: url('./images for website/soap-bubble-439103_1280.jpg')no-repeat center center/cover ;
    width: 100%;
    height: 38%;
    z-index: -4;
    opacity: 0.4;
}

 #clients{
    display: flex;
    justify-content: center;
    align-items: center;
 }#client img{
    height: 50px;
 }
 .client-items{
    padding: 14px;
 }
 .client-items1 img{
   height: 150px;
 }
 .client-items2 img{
   height: 200px;
 }
 /* contact section */
 #contact{
    position: relative;
 }
 #contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../contact-us-6933645_1280.jpg)no-repeat center center/cover;
 }
 #contact-box input,
 #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 0.8rem;

 }
 #contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
 }

 #contact-box form{
    width: 30%;
 }
 #contact-box label{
    width: 40%;
    font-size: 1.3rem;
    font-weight: 500px;
 }

 /* footer */
 footer{
    
    background: black;
    color: azure;
    padding: 9px 20px;
 }